@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --card-color: #6a6a6a;
  --accent-1: #a6db33;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-color-1 {
  background: #ffffff;
}

.bg-color-2 {
  background-color: #d8e9e0 !important;
}

.bg-color-3 {
  background-color: #6d3170 !important;
}

.bg-color-4 {
  background-color: #a6db33 !important;
}

.text-color-1 {
  color: #ffffff !important;
}

.text-accent-1 {
  color: #a6db33 !important;
}

.text-accent-2 {
  color: #6d3170 !important;
}
